<header class="padding-top-20 padding-bottom-20 padding-top-md-40 padding-bottom-md-40 d-flex justify-content-between align-items-center container">
	<a class="logo" href="/">{{company_name}}</a>
	<nav>
		<button class="nav-item nav-toggle d-inline-block d-md-none">Toggle</button>
		<div class="nav-content d-flex flex-md-row flex-column">
			<a class="nav-item nav-link align-self-center" href="#">Menu Link Again</a>
			<a class="nav-item nav-link align-self-center" href="#">Menu Link See</a>
			<a class="nav-item nav-link align-self-center" href="#">Menu Link</a>
			<a class="nav-item solid-button align-self-center" href="#">Button</a>
		</div>
	</nav>
</header>