<section class="cover container">
	<div class="row padding-top-40 padding-top-md-60 padding-bottom-40 padding-bottom-md-100">
		<h1 class="col-12 col-sm-8  offset-sm-2 fs-1 title">
			We Do Awesome Things
		</h1>
		<p class="col-12 col-sm-8  offset-sm-2 fs-4 description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
	<div class="row">
		<div class="col-12 col-sm-10 offset-sm-1">
			<img src="/img/icon/browser-image.png">
		</div>
	</div>
</section>