<section class="services container">
	<div class="row padding-top-60 padding-top-md-100 padding-bottom-60 padding-bottom-md-100">
		<h1 class="col-12 col-sm-8  offset-sm-2 fs-1 title">
			We Do Really Awesome Things
		</h1>
		<p class="col-12 col-sm-8  offset-sm-2 fs-4 description">
			Lorem ipsum dolor sit amet, <a href="#"><em>link</em></a> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
	<ul class="d-flex flex-column flex-md-row justify-content-around align-items-center wrapper cards-wrapper padding-bottom-60 padding-bottom-md-100">
		<li class="card">
			<div class="thumb">
				<img src="/img/icon/service-badge.svg">
			</div>
			<div class="title fs-4">
				Service Name
			</div>
			<div class="description fs-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
			</div>
		</li>
		<li class="card">
			<div class="thumb">
				<img src="/img/icon/service-badge.svg">
			</div>
			<div class="title fs-4">
				Service Name
			</div>
			<div class="description fs-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
			</div>
		</li>
		<li class="card">
			<div class="thumb">
				<img src="/img/icon/service-badge.svg">
			</div>
			<div class="title fs-4">
				Service Name
			</div>
			<div class="description fs-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
			</div>
		</li>
	</ul>
</section>