/////////////////////////////////////////////////////////
// Home Page: /                                        //
/////////////////////////////////////////////////////////

// Overides for home page here

//// Variables
$color-primary: #0e3657 !default;
$color-secondary: #f56975 !default;
$color-grey: #8d9ca8 !default;
$color-light-grey: #eee !default;
$nav-size: 250px !default;

//// Page - Home
#home {
	overflow: hidden;
	position: relative;
	right: 0;
	@include transition(right .5s)

	//// Common Styles
	em {
		color: $color-secondary;
	}
	
	.title, .description {
		color: $color-primary;
		text-align: center;
	}

	.description {
		font-weight: normal;
		color: $color-grey;
	}

	.solid-button {
		background: $color-primary;
		border: solid 1px $color-primary;
		border-radius: 5px;
		color: white;
		padding: .75em 2em;
		text-align: left;
	}

	//// Section - Header
	header {
		.nav-link {
			color: $color-primary;
			margin: 0 .5em;
			padding: .25em;
		}

		.nav-toggle {
			@include text-hide();
			background: url(/img/icon/solid/menu.svg) no-repeat center center;
			background-size: contain;
			border: solid 1px transparent;
			border-radius: 5px;
			color: red;
			min-width: 45px;
			min-height: 45px;
		}

		.nav-link {
			border-bottom: dashed 1px transparent;
		}

		.nav-link, .nav-toggle {

			&:hover {
				border-color: rgba(0,0,0,.1);
			}
		}
	}


	//// Section - Cover
	section.cover {
		img {
			width: 100%;
			margin-bottom: -.5em;
		}
	}


	//// Section - CTA-Banner
	section.cta-banner {
		background: $color-secondary;
		font-weight: bold;
		position: relative;
		z-index: 1;

		div {
			color: white;
			font-weight: bold;
			text-align: center;
		}
	}

	//// Section - Services 
	section.services {
		img {
			display: block;
			margin: 1em auto;
			width: 60%;
		}

		.card {
			margin-bottom: 2em;
			max-width: 250px;
		}
	}

	//// Section - Reviews
	section.reviews {
		border-top: solid 1px $color-light-grey;
		border-bottom: solid 1px $color-light-grey;

		.review-content {
			color: $color-primary;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: -45px;
				top: 0;
				width: 40px;
				height: 40px;
				background: url(/img/icon/solid/speach-marks.svg) no-repeat center center;
				background-size: contain;
			}
		}

		.review-author {
			color: $color-grey
		}

	}

	//// Section - Contact
	section.contact {

		input, textarea {
			max-width: 100%;
		}
	}

	//// Section - Footer
	footer {
		background: $color-primary;
		color: white;
		text-align: center;

		.logo-footer {
			background-image: url(/img/brand/logo/secondary.svg);
		}
	}

	//// Media Queries
	@media (max-width: 768px) {
		
		&.nav-open {
			right: $nav-size;

			.nav-toggle {
				background-image: url(/img/icon/solid/close.svg);
			}

			.nav-content {
				right: 0;
			}
		}

		header {

			.nav-link, .solid-button {
				border-bottom: solid 1px rgba(0,0,0,.1);
				border-radius: 1px;
				color: white;
				padding: .75em 1em;
				text-align: center;
				width: 100%;

				&:hover {
					background: rgba(0,0,0,.1);
				}
			}

			.nav-content {
				background: $color-primary;
				overflow: auto;
				padding: 2em 1em;
				position: fixed;
				bottom: 0;
				right: -$nav-size;
				top: 0;
				width: $nav-size;
				z-index: 111;
				@include transition(right .5s)
			}
		}

	}
}